@{
    ViewData["Title"] = "My Feedback History";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>This page will display a history of all comments and feedback you have submitted, along with any clinician replies.</p>